@import '../cross-platform-yu-gothic.css';

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, "Avenir Next", cross-platform-yu-gothic, "Hiragino Sans", メイリオ, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  font-kerning: normal;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
